.login-div{
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-right: 2em;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.ul-div{
  width: 20%;
  margin-left: 2em;
}

nav{
  display: flex;
  flex-direction: row;
}

.background {
  height: 100px;
  width: 100%;
}

img-div {
  width: 20%;
  height: auto;
}
img {
  width: 100px;
  height: 100px;
}

a {
  font-size: 20px;
}
