<h3>Map of events:</h3>

<ul class="list-group">
  <li *ngFor="let event of events">
      <span class="name">Nazwa:  </span>
      <span class="name" (click)="toggleDisplay(event); openWindow(event.id)">{{event.title}}</span>
  </li>
</ul>
<div [hidden]="isDisplay" *ngIf="event">
  <h2>{{event.title | uppercase}} Details</h2>
  <div><span>opis: </span>{{event.description}}</div>
  <div><span>adres: </span>{{event.address}}</div>
  <div><span>date: </span>{{event.date | date:'dd/MM/yyyy'}}</div>
  <div><span>longitude : </span>{{event.longitude}}</div>
  <div><span>latitude: </span>{{event.latitude}}</div>
  <div><span>uid: </span>{{event.userId}}</div>


</div>
<agm-map [latitude]="defaultLat" [longitude]="defaultLan" (mapClick)="toggleDisplay()" >
  <agm-marker [latitude]="event.latitude" [longitude]="event.longitude"
              *ngFor="let event of events" (markerClick)="toggleDisplay(event); openWindow(event.id)">
    <agm-info-window [isOpen]="isInfoWindowOpen(event.id)">
      <strong> {{event.title}}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

