<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Map of Events</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="events-list row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <app-event (onData)="handleData($event)" *ngFor="let event of events" [event]="event"></app-event>
    </div>
      <div class="event-details" [hidden]="isDisplay" *ngIf="event">

        <table class="table table-bordered centered" >
          <tr>
            <th class="thead-dark" width="20%">Description</th>
            <td idth="30%">{{ event.description }}</td>
          </tr>
          <tr>
            <th class="thead-dark">Address</th>
            <td>{{ event.address }}</td>
          </tr>
          <tr>
            <th class="thead-dark">City</th>
            <td>{{ city }}</td>
          </tr>
          <tr>
            <th class="thead-dark">Date</th>
            <td>{{ event.date }}</td>
          </tr>
        </table>
      </div>
      <agm-map class="map" [latitude]="defaultLat" [longitude]="defaultLan" (mapClick)="toggleDisplay()" >
        <agm-marker [latitude]="event.latitude" [longitude]="event.longitude"
                    *ngFor="let event of events" (markerClick)="handleData(event)">
          <agm-info-window [isOpen]="isInfoWindowOpen(event.id)">
            <strong> {{event.title}}</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
  </div>
</div>
</main>



