<div class="list row">
  <div class="col-md-6">
    <h4>Events List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let calendarEvent of calendarEvents; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEvent(calendarEvent, i)"
      >
        {{ calendarEvent.title }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentCalendarEvent">
      <app-calendar-event
        (refreshList)="refreshList()"
        [calendarEvent]="currentCalendarEvent"
      ></app-calendar-event>
    </div>

    <div *ngIf="!currentCalendarEvent">
      <br />
      <p>Please click on a Tutorial...</p>
    </div>
  </div>
</div>
